@import '../../scss/mixin.scss';

.logo__link {
  text-decoration: none;
}

.logo__text {
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: -0.08em;
  color: var(--color-black-80);
}
