@import './scss/mixin';
@import './scss/reset';

@include font_face('Roboto-Regular', 'Roboto', './fonts/');
@include font_face('Montserrat-Regular', 'Montserrat', './fonts/');
@include font_face('Inter-Light', 'Inter', './fonts/', 300);
@include font_face('Inter-Regular', 'Inter', './fonts/');
@include font_face('Inter-Black', 'Inter', './fonts/', 900);

:root {
  --max-width-page: 1170px;

  --hor-padding-section: 2rem;

  --color-black-10: #E8E8E8;
  --color-black-60: #626262;
  --color-black-80: #343434;
  --color-white: #ffffff;
  --color-hover: #fff200;
}


html {
  font-family: 'Roboto' , sans-serif;
  font-size: 10px;
}
